html, body {
    margin: 0;
    padding: 0;
}

table#command_list {
    table-layout: fixed;
}

.wrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.resultBox {
    padding: 5px;
    flex: 1 1 100%;
}

#resultArea {
    padding: 0;
    height: calc(100% - 30px);
}
